doctype html
html
  head
    title Student App
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Student Management
      nav
        a(href="/") Home
        a(href="/new") Add Student
    block content